Flask

# Application server for both development and production
gunicorn

# Testing and static analysis
pytest
pytest-cov
flake8==2.5.4

# Data and worker
psycopg2==2.7.3.2
# psycopg2-binary
Flask-SQLAlchemy
alembic
webargs
marshmallow


# flask CLI command
click

#restful
flask-restful

sqlalchemy_utils

#authentication
flask-jwt